/**** MOBILE FIRST STYLE ***/
#myModal{
  display:none;
}

.modal-body {
   padding: 0px;
   width:100%;
   height:730px;
}

iframe{
  width:100%;
  height:100%;
}

/*** DESKTOP Style ***/
@media screen and (min-width: 660px) {
  .modal-dialog {
    width: 660px;
    margin:10px auto;
  }
  .modal-body {
     height:570px;
  }
}